---
import "@/styles/global.css";

import Head from "@/components/Head.astro";
---

<!doctype html>
<html lang="en-US">
	<Head path="/" title="Dashboard"></Head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
